/*
    #212121 - text, icons
    #BDBDBD - medium indication (progress gauge, ui border)
    #E0E0E0 - soft indication (table row hover, button hover, progress background)
    #EEEEEE - spacer background
    #FFFFFF - ui background
*/

/* Base setup */

html {
  box-sizing: border-box;
  background: #EEEEEE;
  color: #212121;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.setting-fontsize-small {
    font-size: 14px;
}

.setting-fontsize-normal {
    font-size: 16px;
}

.setting-fontsize-large {
    font-size: 18px;
}

/* Elements */

.button-bar {
    display: inline-block;
    background: #FFFFFF;
}

.button {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 0.125rem;
    border-radius: 0.125rem;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover,
.button.active {
    background: #E0E0E0;
}

.icon {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.25rem;
}

.icon > use {
    fill: #212121;
}

.header-block {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.header-block-primary {
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
}

.header-block > .button-bar {
    padding: 0.125rem;
}

.header-tab {
    display: inline-block;
    position: relative;
    background: #FFFFFF;
}

.header-label,
.header-tab > a {
    display: inline-block;
    padding: 0.25rem;
    margin: 0.25rem;
    min-width: 4em;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.header-tab:after {
    content: " ";
    display: inline-block;
    width: 0.0625rem;
    height: 1.5rem;
    background: #BDBDBD;
}

.header-label-primary {
    max-width: none;
}

.header-tab > a {
    text-decoration: none;
    color: #BDBDBD;
}

.header-tab > .drag-handle {
    position: absolute;
    width: 2.0rem;
    height: 1.5rem;
    margin-top: -0.5rem;
}

.header-tab.active > a {
    color: #212121;
}

.drag-handle > use {
    fill: #BDBDBD;
}

.header-tab.active .drag-handle > use {
    fill: #212121;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    z-index: 10;
    right: 0;
    padding: 0.5rem;
    background: #FFFFFF;
    border: 0.0625rem solid #BDBDBD;
    border-radius: 0.125rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0 rgba(189,189,189,0.7);
}

.dropdown-content.active {
    display: block;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu > *:first-child {
    margin-top: 0;
}

.menu > *:last-child {
    margin-bottom: 0;
}

.menu-item {
    display: block;
    margin: 0.125rem 0;
}

.menu-item > a {
    display: block;
    padding: 0.25rem;
    border-radius: 0.125rem;
    text-decoration: none;
    color: #212121;
}

.menu-item > a:hover {
    background: #E0E0E0;
}

.menu-separator {
    display: block;
    height: 0.0625rem;
    background: #BDBDBD;
    margin: 0.5rem 0;
}

.progress-bar {
    height: 100%;
    position: relative;
    background: #E0E0E0;
    border: 0.0625rem solid #BDBDBD;
    border-radius: 0.125rem;
}

.progress-bar-gauge {
    height: 100%;
    background: #BDBDBD;
}

.progress-bar-text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.table-content {
    position: relative;
    padding: 1.75rem 0.5rem 0.5rem 0.5rem;
    white-space: nowrap;
}

.table-content-inner {
    overflow: auto;
    height: 100%;
}

.table-content table {
    width: 100%;
    border-collapse: collapse;
}

.table-content td {
    padding-right: 1rem;
}

.table-content tbody tr:hover {
    background: #E0E0E0;
}

.table-content a {
    text-decoration: none;
    color: #212121;
    display: block;
}

.table-content a:visited {
    color: #212121;
}

.table-header-cell {
    position: absolute;
    top: 0.5rem;
}

.panel,
.panel-header {
    background: #FFFFFF;
    border: 0.0625rem solid #BDBDBD;
    border-radius: 0.125rem;
    margin: 0.5rem;
}

.panel-header {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.main-panel {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
}

/* Components */

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
}

.setting-no-fullwidth .app {
    max-width: 1000px;
}

.control-bar {
    display: flex;
    padding: 0.5rem;
    height: 2.75rem;
}

.control-bar > * {
    margin-right: 2rem;
    height: 1.75rem;
}

.control-bar > *:last-child {
    margin-right: 0;
}

.status-bar {
    padding: 0.5rem;
    margin: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playback-control .icon-media-play > use {
    fill: #006600;
}

.playback-control .icon-media-stop > use {
    fill: #B30000;
}

.position-control {
    flex: 1;
    padding: 0.25rem;
}

.volume-control {
    display: inline-block;
}

.volume-control > input[type='range'] {
    width: 6rem;
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.settings > form {
    padding: 0.5rem;
}

.settings label {
    display: block;
    margin-bottom: 0.5rem;
}

.settings label > span {
    margin: 0 0.5rem;
}

.settings label > span:first-child {
    margin-left: 0;
}

/* Responsiveness */

@media screen and (max-width: 700px) {
    .control-bar {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .control-bar > * {
        margin-right: 0;
    }

    .position-control {
        order: 10;
        min-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .volume-control > input[type='range'] {
        display: none;
    }
}

@media screen and (max-width: 325px) {
    .volume-control {
        display: none;
    }
}

