.idea
apps
build
ci_build
cmake-build*

js/.idea
js/node_modules
js/cmake_binary_dir.txt

js/api_tests/node_modules
js/api_tests/tmp

js/client/dist
js/client/node_modules

js/webui/node_modules

cpp/.idea
cpp/build
cpp/extlibs/.cache

*.user
*.orig
*.rej
*.so
*.aps
*.log
