/* Variables */

@scale-small: 0.875;
@scale-medium: 1.0;
@scale-large: 1.125;

/* text, icons */
@color-text: #212121;

/* progress gauge, ui border */
@color-hover: #E0E0E0;

/* table row hover, button hover, progress background */
@color-border: #BDBDBD;

/* spacer background */
@color-spacer: #EEEEEE;

/* ui background */
@color-background: #FFFFFF;

/* Mixins */

.border() {
    border: 0.0625rem solid @color-border;
    border-radius: 0.125rem;
}

.dropdown-box() {
    padding: 0.5rem;
    background: @color-background;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0 rgba(189,189,189,0.7);

    .border();
}

.no-text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Base setup */

html {
    box-sizing: border-box;
    background: @color-spacer;
    color: @color-text;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.st-fontsize-small {
    font-size: percentage(@scale-small);
}

.st-fontsize-medium {
    font-size: percentage(@scale-medium);
}

.st-fontsize-large {
    font-size: percentage(@scale-large);
}

/* Elements */

.button-bar {
    display: inline-block;
    background: @color-background;
}

.button {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 0.125rem;
    border-radius: 0.125rem;
}

.button:hover,
.button.active {
    background: @color-hover;
}

.icon {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.25rem;
}

.icon > use {
    fill: @color-text;
}

.header-block {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.header-block-primary {
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
}

.header-block > .button-bar {
    padding: 0.125rem;
}

.header-tab {
    display: inline-block;
    position: relative;
    background: @color-background;
}

.header-label,
.header-tab > a {
    display: inline-block;
    padding: 0.25rem;
    margin: 0.25rem;
    min-width: 4em;
    max-width: 12em;
    vertical-align: bottom;

    .no-text-overflow();
}

.header-tab-with-icon > a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header-tab-icon {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    padding: 0.0625rem;
}

.header-tab-icon > use {
    fill: @color-border;
}

.header-tab-active .header-tab-icon > use {
    fill: @color-text;
}

.header-tab:after {
    content: " ";
    display: inline-block;
    width: 0.0625rem;
    height: 1.5rem;
    background: @color-border;
}

.header-label-primary {
    max-width: none;
}

.header-tab > a {
    text-decoration: none;
    color: @color-border;
}

.header-tab > .drag-handle {
    position: absolute;
    width: 2.0rem;
    height: 1.5rem;
    margin-top: -0.5rem;
}

.header-tab-active > a {
    color: @color-text;
}

.drag-handle > use {
    fill: @color-border;
}

.header-tab-active .drag-handle > use {
    fill: @color-text;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    z-index: 10;

    .dropdown-box();
}

.dropdown-right {
    left: 0;
}

.dropdown-left {
    right: 0;
}

.dropdown-center {
    margin-left: 50%;
    transform: translateX(-50%);
}

.dropdown-content.active {
    display: block;
}

.menu {
    display: block;
    margin: 0;
    padding: 0;
}

.menu > *:first-child {
    margin-top: 0;
}

.menu > *:last-child {
    margin-bottom: 0;
}

.menu-item,
.menu-label {
    display: block;
    margin: 0.125rem 0;
    white-space: nowrap;
}

.menu-label {
    padding: 0.25rem;
    color: @color-border;
    font-weight: bold;
}

.menu-item > a {
    display: block;
    padding: 0.25rem;
    border-radius: 0.125rem;
    text-decoration: none;
    color: @color-text;
}

.menu-item > a:hover {
    background: @color-hover;
}

.menu-item .icon {
    width: 1rem;
    height: 1rem;
    padding: 0.0625rem;
    margin-right: 0.25rem;
}

.menu-separator {
    display: block;
    height: 0.0625rem;
    background: @color-border;
    margin: 0.5rem 0;
}

.progress-bar {
    height: 100%;
    position: relative;
    background: @color-hover;
    cursor: pointer;

    .border();
}

.progress-bar-gauge {
    height: 100%;
    background: @color-border;
}

.progress-bar-text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.notification-group {
    position: fixed;
    width: 30rem;
    right: 1rem;
    bottom: 1rem;
    max-width: 95vw;
}

.notification-box {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;

    .dropdown-box();
}

.notification-content {
    flex: 1;
    min-width: 0;
    display: inline-block;
}

.notification-header {
    font-weight: bold;
}

.notification-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.notification-text-start {
    flex-shrink: 1;

    .no-text-overflow();
}

.notification-text-end {
    white-space: nowrap;
    flex-basis: content;
    flex-grow: 0;
    flex-shrink: 0;
}

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    .border();
    .dropdown-box();
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
}

.dialog-placeholder {
    display: none;
}

.dialog-body {
    padding: 0.25rem;
}

.dialog-buttons {
    padding: 0.25rem;
    float: right;
}

.dialog-button:not(:last-child) {
    margin-right: 0.25rem;
}

.dtable {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.dtable-head {
    height: 1.75rem;
    position: relative;
}

.dtable-body {
    flex: 1;
    overflow-y: scroll;
}

.dtable-row {
    height: 1.75rem;
    border-radius: 0.125rem;
    position: relative;

    &:hover {
        background: @color-hover;
    }
}

.dtable-icons {
    .dtable-head, .dtable-row {
        padding-left: 1.5rem;
    }
}

.dtable-icon {
    position: absolute;
    left: 0;
    top: -0.0625rem;
}

.dtable-column-header, .dtable-cell {
    display: inline-block;
}

.dtable-column-header-text, .dtable-cell {
    .no-text-overflow();
}

.dtable-column-header-text {
    font-weight: bold;
}

.dtable-column-header-link {
    text-decoration: none;
    color: @color-text;

    &:visited {
        color: @color-text;
    }
}

.dtable-column-header {
    padding: 0 0.25rem;
}

.dtable-cell {
    text-decoration: none;
    color: @color-text;
    padding: 0.25rem;

    &:visited {
        color: @color-text;
    }
}

.panel,
.panel-header {
    background: @color-background;
    margin: 0.5rem;

    .border();
}

.panel-header {
    display: flex;
    min-height: 2.25rem;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.main-panel {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
}

/* Components */

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
}

.st-no-fullwidth .app {
    max-width: 62rem;
}

.control-bar {
    display: flex;
    padding: 0.5rem;
}

.control-bar > * {
    margin-right: 2rem;
    height: 1.75rem;
}

.control-bar > *:last-child {
    margin-right: 0;
}

.st-mediasize-medium-down {
    .control-bar {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .control-bar > * {
        margin-right: 0;
    }

    .position-control {
        order: 10;
        min-width: 100%;
    }
}

.status-bar {
    padding: 0.5rem;
    margin: 0.5rem;

    .no-text-overflow();
}

.playback-control .icon-media-play > use {
    fill: #006600;
}

.playback-control .icon-media-stop > use {
    fill: #B30000;
}

.position-control {
    flex: 1;
    padding: 0.25rem;
}

.volume-control,
.volume-control-full {
    display: inline-block;
}

.volume-control-mini {
    display: none;
}

.volume-control-mini .volume-control-panel {
    width: 9rem;
}

.st-mediasize-small-down {
    .volume-control-full {
        display: none;
    }

    .volume-control-mini {
        display: inline-block;
    }
}

.volume-slider {
    width: 6rem;
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.settings-content-wrapper {
    display: flex;
}

.settings-content {
    padding: 0.5rem;
    flex: 1;
    overflow: auto;
}

.setting-editor {
    display: block;
    margin-bottom: 0.5rem;

    & > span {
        margin: 0 0.5rem;
    }

    & > span:first-child {
        margin-left: 0;
    }
}

.column-editor {
    padding: 0.5rem;
    display: flex;
    background: @color-background;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    .border();
}

.column-editor-main {
    flex: 1;
}

.column-editor-side {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
        margin-right: 1rem;
    }

    &:last-child {
        margin-left: 1rem;
    }
}

.column-editor-block {
    white-space: nowrap;
    display: inline-block;
    margin: 0.25rem;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.column-editor-label {
    margin-right: 0.25rem;
}

.column-editor-text {
    max-width: 20rem;
}

.column-editor-text-size {
    max-width: 5rem;
}

.column-editor-drag-handle {
    cursor: grab;
}
