name: build

on:

  push:
    branches:
    - master

  pull_request:
    branches:
    - master

jobs:

  build_linux:

    runs-on: ubuntu-22.04

    env:
      DOCKER_IMAGE: ubuntu-14.04
      BUILD_TYPE: Release

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build docker image
      run: ci/docker/build_image.sh

    - name: Install apps
      run: ci/linux_install.sh

    - name: Build
      run: ci/linux_build.sh

    - name: Test
      run: ci/linux_test.sh

    - name: Upload binaries
      uses: actions/upload-artifact@v4
      with:
        name: linux_packages
        if-no-files-found: error
        path: |
          ci_build/${{ env.BUILD_TYPE }}/*.deb
          ci_build/${{ env.BUILD_TYPE }}/*.tar.xz

  build_windows:

    runs-on: windows-2022

    defaults:
      run:
        shell: cmd

    strategy:
      matrix:
        arch:
        - Win32
        - x64

    env:
      BUILD_TYPE: Release
      BUILD_ARCH: ${{ matrix.arch }}

    steps:
    - name: Set git to use LF
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.arch }}

    - name: Install apps
      run: cmd /c ci\windows_install.cmd

    - name: Build
      run: cmd /c ci\windows_build.cmd

    - name: Test
      run: cmd /c ci\windows_test.cmd

    - name: Upload binaries
      uses: actions/upload-artifact@v4
      with:
        name: 'windows_packages_${{ matrix.arch }}'
        if-no-files-found: error
        path: 'ci_build\${{ env.BUILD_TYPE }}\*.fb2k-component'

  build_universal_foobar2000_package:

    runs-on: ubuntu-22.04

    needs: build_windows

    steps:
    - name: Download original packages
      uses: actions/download-artifact@v4
      with:
        pattern: windows_packages_*
        merge-multiple: true
        path: input

    - name: Merge packages
      run: |
        pkg_ext=fb2k-component
        pkg_32=$(pwd)/input/*-x86.$pkg_ext
        pkg_64=$(pwd)/input/*-x86_64.$pkg_ext
        pkg_unified=$(pwd)/output/$(basename $pkg_32 -windows-x86.$pkg_ext).$pkg_ext
        mkdir -p work/x64 output
        (cd work/x64 && unzip $pkg_64 '*.dll')
        cp $pkg_32 $pkg_unified
        (cd work && zip -r -9 $pkg_unified *)

    - name: Upload merged package
      uses: actions/upload-artifact@v4
      with:
        name: universal_foobar2000_package
        if-no-files-found: error
        path: output/*.fb2k-component
